.intro h1, .buttons {
    margin-top: 90px;
    margin-bottom: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    color: white;
}
.intro {
    background: linear-gradient(to right,skyblue,hotpink,blueviolet);
    margin-top: 90px;
    margin-bottom: 110px;
    height: 90vh;
}
.buttons{
    margin-top: 200px !important;
}