@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html{
    box-sizing: border-box;
    margin: 0%;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-image: url(../time_table_man/resources/back.svg);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}   
#logo{
   font-weight: bold;
   font-size: 25px;
   margin-left: 28px;
   position: absolute;
   top: 5%; 
   border-bottom-style: solid;
}
#home_btn, #about_btn, #help_btn{
	font-family: 'Varela Round', sans-serif;
    background-color: none;
    color: black;
    opacity: 80%;
}
#home_btn:hover,#about_btn:hover, #help_btn:hover{
    background-color: none;
    color: black;
    opacity: 100%;
    border-bottom-style: solid;
    border-bottom-color: black;
    border-width: 2px;
}
#home_btn{
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: black;
    font-size: 20px;
    position: absolute;
    top: 5%;
    right: 20%; 
}
#about_btn{
    font-size: 20px;
    position: absolute;
    top: 5%;
    right: 14%; 
}
#help_btn{
    font-size: 20px;
    position: absolute;
    top: 5%;
    right: 9%; 
}
#ch_role{
    font-size: 30px;
    position: absolute;
    top: 60%;
    right: 50%;
    transform: translate(50%,-550%);
}
#ch_role:hover{
    opacity: 70%;
}
.admin_btn, .tt_btn{
    border-style: none;
    border-radius: 8px;
    font-size: 35px;
}
.admin_btn:hover, .tt_btn:hover{
    color:black;
    background-color: white;
    border-color: black;
}
.admin_btn{
    color:white;
    background-color: black;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -80%);
}
.tt_btn{
    color:white;
    background-color: black;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 100%);
}
.image{
    position: relative;
    transform: translate(-50%,50%);
}