form{
    font-family: "Century Gothic";
}
div.scroll {
    margin:4px,4px;
    padding:4px;
    background-color: green;
    width: 500px;
    height: 110px;
    overflow-x: hidden;
    overflow-x: auto;
    text-align:justify;
}